<!doctype html>
<html lang="es" data-bs-theme="dark">
  <!--El atributo data-bs-theme se utiliza para indicar el tema de Bootstrap que se va a utilizar, en este caso se ha establecido el tema oscuro (dark)-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ titulo }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <!-- Titulo -->
    <div class="container">
      <div class="container py-3">
        <h1 class="text-center display-5 text-warning">
          {{ titulo }}
          <i class="bi bi-award"></i>
        </h1>
      </div>
    </div>

    <!-- Grid Principal -->
    <div class="container-fluid pb-3">
      <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr">
        <!-- Contenedor del formulario -->
        <div class="border rounded-3 p-2">
          <!-- Formulario -->
          <form action="/guardar" method="post" autocomplete="off">
            {{forma.csrf_token}}
            <!-- Token de seguridad para proteger contra ataques CSRF -->
            <!-- Nombre -->
            <div class="form-floating py-2">
              <!-- <input
                type="text"
                class="form-control"
                id="nombre"
                placeholder="Nombre"
              />
              <label for="nombre">Nombre</label> -->
              {{ forma.nombre(class='form-control', id='nombre',
              placeholder='Nombre') }} {{forma.nombre.label(class='form-label',
              for='nombre')}}
            </div>
            <!-- Apellido -->
            <div class="form-floating py-2">
              {{forma.apellido(class='form-control',id =
              'apellido',placeholder='Apellido')}}
              {{forma.apellido.label(class='form-label',for='apellido')}}
            </div>
            <!-- Membresia -->
            <div class="form-floating py-2">
              {{forma.membresia(class='form-control',id =
              'membresia',placeholder='Membresia')}}
              {{forma.membresia.label(class='form-label',for='membresia')}}
            </div>
            <!-- Botones -->
            <div class="text-center py-2">
              <!-- <button type="submit" class="btn btn-warning btn-sm me-3">
                Guardar
              </button> -->
              {{forma.guardar(class='btn btn-warning btn-sm me-3')}}
              <!-- <input
                type="reset"
                class="btn btn-danger btn-sm"
                value="Limpiar"
              /> -->
              <a href="/limpiar" class="btn btn-danger btn-sm">Limpiar</a>
            </div>
          </form>
        </div>
        <!-- Contenedor de clientes -->
        <div class="border rounded-3 p-2">
          <table class="table table-striped table-hover">
            <thead class="table-warning">
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Membresia</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
              <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.membresia}}</td>
                <td class="text-center">
                  <div>
                    <a
                      href="/editat/{{cliente.id}}"
                      class="btn btn-warning btn-sm me-3"
                    >
                      <i class="bi bi-pencil"></i>
                    </a>
                    <a
                      href="/eliminar/{{cliente.id}}"
                      class="btn btn-danger btn-sm"
                    >
                      <i class="bi bi-trash3"></i>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
